{% extends 'base.html.twig' %}
{% block body %}


    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Me contacter</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div id="contactForm">
                        <div class="control-group">
                            {{ form_start(form) }}
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, { 'attr': {'class': "form-control",
                                    'placeholder': "Nom"} }) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email, { 'attr': {'class': "form-control",
                                    'placeholder': "Email"} }) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                {{ form_label(form.message) }}
                                {{ form_widget(form.message, { 'attr': {'class': "form-control",
                                    'placeholder': "Message"} }) }}
                            </div>
                        </div>
                        <br />
                        <button class="btn btn-primary btn-xl float-right"> Envoyer</button>
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}



{% block footer %}
    {% include 'components/_footer.html.twig' %}
{% endblock %}
