{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="{{ asset('build/elisa.png') }}" alt="elisa avatar" />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Elisa Bourg</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Développeuse Web - Full Stack</p>
        </div>
    </header>
    <section class="page-section bg-success text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Compétences</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class=" d-flex justify-content-around">
                <div class="">
                    <p class="lead"><i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                    <img class="img-admin" src="{{ asset('build/php.png') }}" alt="php" >
                        </div>
                <div class=""><p class="lead">HTML</p>
                    <img class="img-admin" src="{{ asset('build/symfony.png') }}" alt="html" >
                </div>
                <div class=""><p class="lead">Git  </p>
                    <img class="img-admin" src="{{ asset('build/git.png') }}" alt="git" >
                        </div>
                <div class=""><p class="lead">HTML</p>
                    <img class="img-admin" src="{{ asset('build/html.png') }}" alt="html" >
                        </div>
            </div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
                    <i class="fas fa-download mr-2"></i>
                    Free Download!
                </a>
            </div>
        </div>
    </section>
{% endblock %}
