{% extends 'base.html.twig' %}
{% block body %}
    <!-- Formation Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Head-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
            <!-- Icon etoile-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <h4 class="text-center text-uppercase text-primary mb-0">Mes formations</h4>
            <!-- Portfolio Grid Items-->
            <div class="row d-flex justify-content-center mt-5">
                <!-- Portfolio Grid Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">{{ wild.school }}</div>
                        </div>
                        <img class="img-fluid" src="{{ asset('build/ok.jpg') }}" alt="photo of school"/>
                    </div>
                    <div class="lead wild">
                        <strong>{{ wild.degree }}</strong>
                        <br>
                        <p class="text-primary">{{ wild.numberOfyear }} mois</p>
                        <p class="text-justify">
                            {{ wild.description }}
                        </p>
                    </div>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">{{ kedge.school }}
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('build/kedge.png') }}" alt="photo of school"/>
                    </div>
                    <div class="lead wild">
                        <strong>{{ kedge.degree }}</strong>
                        <br>
                        <p class="text-primary"> {{ kedge.numberOfyear }} ans</p>
                        <p class="text-justify">
                           {{ kedge.description }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

        <!-- Partie projets -->

    <section class="page-section portfolio" >
        <div class="container">
            <h3 id="project" class="text-center text-uppercase text-primary mb-0">Mes projets</h3>
            <!-- Portfolio Grid Items-->
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">{{ easy_auto.name }}</div>
                        </div>
                        <img class="img-fluid" src="{{ asset('build/car-cropped.png') }}" alt="photo of school"/>
                    </div>
                    <div class="lead wild">
                        <strong> {{ easy_auto.name }}</strong>
                        <br>
                        <p class="text-primary">Site de gestionnaire d'appels</p>
                        <a class="btn btn-outline-dark btn-social mx-1" href="{{ music.link }}"><i class="fas fa-link"></i></a>
                        <p class="text-justify">
                             {{ easy_auto.description }}
                        </p>
                        <br>
                        <p class="text-primary"> Langages/Framework: PHP/Symfony/MaterializeCSS
                        </p>
                    </div>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">{{ music.name }}
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('build/music-cropped.png') }}" alt="photo of school"/>
                    </div>
                    <div class="lead wild">
                        <strong> {{ music.name }}</strong>
                        <br>
                        <p class="text-primary">Site de playlist</p>
                        <a class="btn btn-outline-dark btn-social mx-1" href="{{ music.link }}"><i class="fas fa-link"></i></a>
                        <p class="text-justify">
                          {{ music.description }}

                        </p>
                        <br>
                        <p class="text-primary"> Langages/Framework: PHP/Simple MVC/Boostrap
                        </p>
                    </div>
                </div>
            </div>
                <!-- Portfolio Item 3-->
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">{{ serie.name }}
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('build/tv-cropped.png') }}" alt="photo of school"/>
                    </div>
                    <div class="lead wild">
                        <strong> {{ serie.name }}</strong>
                        <br>
                        <p class="text-primary">Site de playlist</p>
                        <a class="btn btn-outline-dark btn-social mx-1" href="{{ serie.link }}"><i class="fas fa-link"></i></a>
                        <p class="text-justify">
                            {{ serie.description }}

                        </p>
                        <br>
                        <p class="text-primary"> Langages/Framework: PHP/Symfony/Boostrap
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">{{ circus.name }}
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('build/circus.png') }}" alt="photo of circus"/>
                    </div>
                    <div class="lead wild">
                        <strong> {{ circus.name }}</strong>
                        <br>
                        <p class="text-primary">Site de playlist</p>
                        <a class="btn btn-outline-dark btn-social mx-1" href="{{ circus.link }}"><i class="fas fa-link"></i></a>
                        <p class="text-justify">
                            {{ circus.description }}

                        </p>
                        <br>
                        <p class="text-primary"> Langages : HTML/CSS
                        </p>
                    </div>
                </div>
            </div>
            </div>
    </section>

{% endblock %}

{% block footer %}
    {% include 'components/_footer.html.twig' %}
{% endblock %}
