{% extends 'base.html.twig' %}

{% block title %}Liste de contacts{% endblock %}

{% block body %}
<div class="container mt-5">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary ">Liste de contact</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
<div class="container m-auto d-flex justify-content-center">
    <table class="table table-hover mt-3">
        <thead class="bg-warning">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.message }}</td>
                <td>
                    <a class="btn bg-primary text-white">
                       href="{{ path('contact_show', {'id': contact.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
