{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
<div class="container mt-5">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary ">Liste de projets</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <a class="btn bg-light ml-5" href="{{ path('project_new') }}">Create un nouveau</a>
<div class="container m-auto d-flex justify-content-center">
    <table class="table table-hover mt-3">
        <thead class="bg-info">
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Lien</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.image }}</td>
                <td>{{ project.link }}</td>
                <td>
                    <a  class="btn bg-warning" href="{{ path('project_show', {'id': project.id}) }}">Voir</a>
                    <a  class="btn bg-primary text-white mt-1" href="{{ path('project_edit', {'id': project.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
